@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    padding: 5%;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
}
.top_content_wrapper {
    position: relative;
}
.general_info {
    position: relative;
}
.top_info_wrapper {
    gap: 5%;
    display: grid;
}
.middle_info_wrapper {
    display: flex;
    margin-top: 1%;
    align-items: baseline;
}
.middle_info_wrapper h1 {
    font-size: 38px;
}
.middle_info_wrapper h2.change {
    font-weight: 500;
    margin-left: 1%;
}
.middle_info_wrapper h2.change.green,
.middle_info_wrapper h2.change.percent.green {
    color: #44c23b;
}
.middle_info_wrapper h2.change.red,
.middle_info_wrapper h2.change.percent.red {
    color: red;
}
.middle_info_wrapper h2.change.percent {
    margin-left: 1%;
    font-weight: 500;
}
.bot_info_wrapper {
    display: flex;
    align-items: baseline;
}
.bot_info_wrapper h1 {
    font-size: 38px;
}
.bot_info_wrapper h2.change {
    font-weight: 500;
    margin-left: 1%;
}
.bot_info_wrapper h2.change.green,
.bot_info_wrapper h2.change.percent.green {
    color: #44c23b;
}
.bot_info_wrapper h2.change.red,
.bot_info_wrapper h2.change.percent.red {
    color: red;
}
.bot_info_wrapper h2.change.percent {
    margin-left: 1%;
    font-weight: 500;
}
.charts-period-btns-wrapper {
    max-width: 100%;
    position: relative;
    display: inline-flex;
    margin: 2% 0% 0% 0%;
    justify-content: space-evenly;
}
.chart-period-btn {
    margin: 0 1%;
    padding: 1.5%;
    cursor: pointer;
    border-radius: 5%;
    height: fit-content;
    transition: border 0.2s ease;
    border: thin solid transparent;
}
.chart-period-btn p {
    pointer-events: none;
}
.chart-period-btn:hover,
.chart-period-btn.active {
    transition: border 0.2s ease;
    border: thin solid rgb(32, 147, 255);
}
.charts-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    position: relative;
    display: inline-flex;
}
.chart-usd-container,
.chart-uzs-container {
    padding-top: 3%;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}
.chart-usd-container {
    margin-right: 2.5%;
}
.chart-uzs-container {
    margin-left: 2.5%;
}
.apexcharts-title-text {
    font-family: 'Roboto', sans-serif !important;
}
.bot_table_wrapper {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    padding-bottom: 5%;
}
.bot_table {
    -webkit-text-size-adjust: 100%;
    --text1-light: #232a31;
    --text2-light: #464e56;
    --text3-light: #5b636a;
    --surface1-light: #fff;
    --surface2-light: #f0f3f5;
    --surface3-light: #fff;
    --surface4-light: #fff;
    --surface5-light: #f5f8fa;
    --seperator1-light: #e0e4e9;
    --seperator2-light: #b0b9c1;
    --positive-light: #007560;
    --negative-light: #bd1414;
    --neutral-light: #5b636a;
    --inactive-light: #b9b8c5;
    --icon-color-light: #5b636a;
    --link-light: #0f69ff;
    --link-active-light: #125bd4;
    --link-selected-light: #7e1fff;
    --following-light: #ffa700;
    --hover1-light: #e0f0ff;
    --positiveBg-light: #00853c1a;
    --negativeBg-light: #eb0f291a;
    --icon-inactive-light: #dadada;
    --text1-dark: #f5f8fa;
    --text2-dark: #e0e4e9;
    --text3-dark: #b9bdc5;
    --surface1-dark: #000;
    --surface2-dark: #000;
    --surface3-dark: #101518;
    --surface4-dark: #1d2228;
    --surface5-dark: #232a31;
    --seperator1-dark: #555;
    --seperator2-dark: #555;
    --positive-dark: #1ac567;
    --negative-dark: #ff5257;
    --neutral-dark: #5b636a;
    --inactive-dark: #828c93;
    --icon-color-dark: #b9bdc5;
    --link-dark: #12a9ff;
    --link-active-dark: #188fff;
    --link-selected-dark: #5d5eff;
    --following-dark: #ffd333;
    --hover1-dark: #154966;
    --positiveBg-dark: #00853c1a;
    --negativeBg-dark: #eb0f291a;
    --icon-inactive-dark: #dadada;
    font: 13px/1.3 'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color-scheme: light;
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --text3: var(--text3-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
    --surface5: var(--surface5-light);
    --seperator1: var(--seperator1-light);
    --seperator2: var(--seperator2-light);
    --positive: var(--positive-light);
    --negative: var(--negative-light);
    --neutral: var(--neutral-light);
    --inactive: var(--inactive-light);
    --icon-color: var(--icon-color-light);
    --link: var(--link-light);
    --link-active: var(--link-active-light);
    --link-selected: var(--link-selected-light);
    --following: var(--following-light);
    --hover1: var(--hover1-light);
    --positiveBg: var(--positiveBg-light);
    --negativeBg: var(--negativeBg-light);
    --icon-inactive: var(--icon-inactive-light);
    --elevation-1: 0 1px 0 #e0e4e9;
    --elevation-2: 0 0 1px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.08);
    --elevation-3: 0 0 1px rgba(0,0,0,.08),0 4px 8px rgba(0,0,0,.1);
    --elevation-4: 0 0 2px rgba(0,0,0,.05),0 4px 16px rgba(0,0,0,.2);
    --elevation-5: 0 0 16px rgba(0,0,0,.05),0 32px 32px -20px rgba(0,0,0,.4);
    --surface5-gradient: linear-gradient(to bottom,transparent,rgba(255,255,255,.7) 20%,var(--surface5));
    --premium-logo: url(https://s.yimg.com/cv/apiv2/finance/yfinance-plus.svg);
    color: var(--text1);
    border-right-color: transparent;
    border-left-color: transparent;
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 20px;
    border-left-width: 20px;
    background-color: var(--surface3)!important;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
    min-width: 1007px;
    position: relative;
}
.bot_table table {
    width: 100%;
    height: 100%;
}
.bot_table table thead tr th {
    text-align: left;
}
#price_th {
    padding-left: 8%;
}
td:has(> fin-streamer[data-field="regularMarketPrice"]) {
    padding-left: 5%;
}
#change_th,
td:has(> fin-streamer[data-field="regularMarketChange"]) {
    text-align: center;
}
#change_percent_th,
td:has(> fin-streamer[data-field="regularMarketChangePercent"]) {
    padding-right: 2%;
    text-align: right;
}
.bot_table h2 {
    padding-bottom: 1%;
}
.footer {
    width: 100%;
    z-index: 100;
    margin-top: 3%;
    text-align: center;
    position: absolute;
    display: inline-flex;
    justify-content: center;
}
.footer .cer_wrapper {
    width: 100%;
    height: 100%;
}
.footer .cer_wrapper p {
    width: 100%;
    height: 100%;
    display: flex;
}